*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
}

h1{
    background-color: #20B1AB;
    padding: 10px 0;
    color:white;
    text-align: center;
    font-size: 16px;
}

img{
    height: 80px;
    width: 80px;
}

#row1, #row2, #row3{
    margin-top: 20px;
    text-align: center;
    
}
#img1{
    border: 7px solid #20B1AB;
}

#img2{
    border: 7px dashed #20B1AB;
    margin-left: 20px;
    margin-right: 20px;
}

#img3{

    border: 7px dotted #20B1AB;
    
}
#img4{

    border: 7px ridge #20B1AB;
    
}
#img5{
    border: 7px groove #20B1AB;
    
}
#img6{
    border: 7px double #20B1AB;
    
}

#img4, #img6{
    margin-right: 20px;
}
.para{
    margin-top: 30px;
    width:600px;
    height:190px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    text-align: justify;
    border-style: solid;
    border-width:7px;
    border-top-color: green;
    border-bottom-color: blue;
    border-left-color: purple;
    border-right-color: rgb(231, 71, 231);
    color:white;
    background-color:#20B1AB;
    padding: 0 20px;
}

.para h2{
    text-align: center;
    padding: 10px 0;
   
}

p{
padding-bottom: 15px; 
font-size: 15px;   
}

#end{
    background-color: #20B1AB;
    width: 100%;
    display: block;
    margin-top: 43px;
    margin-left: auto;
    margin-right: auto;
}



#end ul{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    align-items: center;
    justify-content:space-between;
    width:20%;
    height: 40px;
    font-size: 20px;
  

}

#end ul li{
    
    list-style: none;
    color:white;

}


#end ul li a{
    text-decoration: none;
    color:white;
}

#end ul li a:hover{
    color:rgb(65, 39, 158);
    text-decoration:underline;

}